<div class="card">
    <div class="card-header">{{itemProd.title | uppercase}}</div>
    <div class="card-body text-primary">
        <div>
            <h5 class="card-title" (click)="redirectToDetails(itemProd.id)"><img class="img-thumbnail"
                    [src]="itemProd.thumbnail"></h5>
            <ul class="list-group list-group-lush">
                <li class="list-group-item text-decoration-line-through">
                    {{((itemProd.price/itemProd.discountPercentage)+itemProd.price) | currency:"EGP":"symbol"}}</li>
                <li class="list-group-item text-danger"><strong>{{itemProd.price | currency:"EGP":"symbol"}}
                    </strong>{{itemProd.discountPercentage}}% OFF!</li>
                <li class="list-group-item">{{itemProd.stock | ratings }}</li>
            </ul>
            <br>
            <div class="text-center btn-toolbar">
                <button class="btn btn-secondary btn-sm mx-2" (click)="redirectToDetails(itemProd.id)">More Details</button>
                <button class="btn btn-primary btn-sm" (click)="addToCart()">Add to Cart</button>
            </div>
        </div>



    </div>
</div>