<br>
<br>
<br>
<form [formGroup]="productForm" (ngSubmit)="submitForm()" class="col-8 mx-auto">
    <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text" class="form-control" placeholder="Enter product name" formControlName='productName'>
        <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        <div class="'form-text text-danger"
            *ngIf="productForm.controls['productName'].touched && productForm.controls['productName'].invalid">
            <p *ngIf="productForm.controls['productName'].errors?.['minlength']">Minmum length is 3 charchters.</p>
            <p *ngIf="productForm.controls['productName'].errors?.['required']">This field is required.</p>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Product Describtion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            formControlName="description"></textarea>
    </div>
    <br>
    <button class="btn btn-primary">Submit</button>
</form>