<br>
<br>
<br>
<form class="col-8 mx-auto">
    <div class="form-group">
      <label for="exampleInputEmail1">Product Name</label>
      <input type="text" class="form-control" placeholder="Enter product name">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Product Describtion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
</form>