
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="product-card">
          <img [src]="selectedItem.images[0]" alt="Product Image">
          <h4>{{selectedItem.title}}</h4>
          <p>{{selectedItem.description}}</p>
          <div class="price">Price: {{selectedItem.price}} EGP</div>
          <p>{{selectedItem.brand}}</p>
          <div>
            <button class="btn btn-primary">Add to Cart</button>
            <button class="btn btn-secondary">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>